@import 'normalize';
@import 'variables';
@import 'typo';

html{
    font-family: 'Roboto', sans-serif;
    color: $dark-gray;
    font-size: 1vw;
    @media screen and (max-width: 1200px) {
        font-size: 12px;
    }

    @media screen and (min-width: 2000px) {
        font-size: 20px;
    }
}
p{
    line-height: $sizeUnit * 14;
}

a{
    color: $blue;
}

body{
    min-width: 1200px;
    max-width: 2000px;
    margin: auto;
    
}

.page{
    position: relative;
    overflow-x: hidden;
    @media screen and (min-width: 2000px) {
        overflow: visible;
    }
}

.content{
    position: relative;
    z-index: 2;
    padding: 0 $sizeUnit * 60;
}

.parallax-bg-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.parallax-bg{
    flex: 1;
    margin: 0 $sizeUnit * 60;
    background-image: url('../images/parallax-bg.png');
    background-repeat: repeat-y;
    background-position: center top;
    background-size: 100%;
}

.banner-bg{
    position: absolute;
    background-image: url('../images/banner-bg.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width: $sizeUnit * 490;
    height: $sizeUnit * 400;
    top: $sizeUnit * 90;
    right: -$sizeUnit * 120;
}

.banner-rect-bg{
    position: absolute;
    background-image: url('../images/banner-rect-bg.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width: $sizeUnit * 500;
    height: $sizeUnit * 250;
    top: $sizeUnit * 370;
    left: -$sizeUnit * 200;
}

.tech-circle-bg{
    position: absolute;
    background-image: url('../images/tech-bg.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width: $sizeUnit * 490;
    height: $sizeUnit * 400;
    top: $sizeUnit * 2000;
    left: -$sizeUnit * 350;
}

.services-rect-bg{
    position: absolute;
    background-image: url('../images/serv-bg.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width: $sizeUnit * 500;
    height: $sizeUnit * 250;
    top: $sizeUnit * 1285;
    right: -$sizeUnit * 200;
}

#header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $sizeUnit * 15 $sizeUnit * 60;
    z-index: 3;
}

.logo{
    width: auto;
    height: $sizeUnit * 28;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav-link{
        color: $dark-gray;
        text-decoration: none;
        font-size: $sizeUnit * 10;
        margin: 0 $sizeUnit * 14;
    }
    .social-icons{
        display: flex;
        flex-direction: column;
        margin-left: $sizeUnit * 22;
        .social-icon{
            width: auto;
            height: $sizeUnit * 10;
            margin: $sizeUnit * 2.5 0;
        }
    }
}

h1{
    font-weight: 900;
    font-size: $sizeUnit * 60;
    width: $sizeUnit * 550;
    margin-left: $sizeUnit * 40;
    margin-top: $sizeUnit * 100;
    height: $sizeUnit * 210;
    //letter-spacing: 3.49px;
    .company-name{
        color: $blue;
    }
}

.scroll-icon{
    background-image: url('../images/scroll-icon.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width: $sizeUnit * 15;
    height: $sizeUnit * 15;
    margin: 0 auto;
    margin-top: $sizeUnit * 80;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#services{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#technologies{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-title{
    position: relative;
    display: block;
    font-weight: 900;
    font-size: $sizeUnit * 39;
    margin: $sizeUnit * 100 0;
    &::before{
        content: '';
        display: block;
        position: absolute;
        background-repeat:no-repeat;
        background-position: center;
        background-size: contain;
        width: $sizeUnit * 46;
        height: $sizeUnit * 33;
        top: $sizeUnit * 8;
    }
}

.services-title{
    &::before{
        background-image: url('../images/logo-sign-1.svg');
        left: -$sizeUnit * 20;
    }
}

.technologies-title{
    &::before{
        background-image: url('../images/logo-sign-2.svg');
        left: -$sizeUnit * 22.5;
    }
}

.portfolio-title{
    &::before{
        background-image: url('../images/logo-sign-3.svg');
        left: -$sizeUnit * 25;
    }
}

.quote-title{
    margin-bottom: 0;
    &::before{
        background-image: url('../images/logo-sign-4.svg');
        left: -$sizeUnit * 20;
    }
}

.services-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-height: $sizeUnit * 700;
    width: $sizeUnit * 800;
    .service{
        position: relative;
        width: $sizeUnit * 150;
        margin-bottom: $sizeUnit * 59;
        color: $white;
        padding: $sizeUnit * 40 $sizeUnit * 17;
        background-color: $blue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        h3{
            font-weight: 900;
            font-size: $sizeUnit * 30;
            margin-top: 0;  
        }
        span{
            font-weight: 300;
            font-size: $sizeUnit * 9; 
            line-height: $sizeUnit * 13;
        }
    }
    .service-2, .service-3, .service-6{
        background-color: $dark-gray;
    }
    .service-1{
        background-image: url('../images/serv-cat-icon-1.svg');
        background-size: $sizeUnit * 57 $sizeUnit * 75;
        background-position: right (-$sizeUnit * 10) top (-$sizeUnit * 10);
        &::before{
            content: '';
            display: block;
            position: absolute;
            background-image: url('../images/serv-deco-1.svg');
            background-repeat:no-repeat;
            background-position: center;
            background-size: contain;
            width: $sizeUnit * 50;
            height: $sizeUnit * 50;
            top: -$sizeUnit * 17;
            left: -$sizeUnit * 16;
        }
    }
    .service-2{
        background-image: url('../images/serv-cat-icon-4.svg');
        background-size: $sizeUnit * 66 $sizeUnit * 66;
        background-position: right (-$sizeUnit * 15) top (-$sizeUnit * 10);
        &::before{
            content: '';
            display: block;
            position: absolute;
            background-image: url('../images/serv-deco-3.svg');
            background-repeat:no-repeat;
            background-position: center;
            background-size: contain;
            width: $sizeUnit * 50;
            height: $sizeUnit * 50;
            bottom: -$sizeUnit * 20;
            left: -$sizeUnit * 20;
        }
    }
    .service-3{
        margin-top: $sizeUnit * 30;
        background-image: url('../images/serv-cat-icon-2.svg');
        background-size: $sizeUnit * 57 $sizeUnit * 75;
        background-position: right (-$sizeUnit * 10) top (-$sizeUnit * 10);
    }
    .service-4{
        background-image: url('../images/serv-cat-icon-5.svg');
        background-size: $sizeUnit * 90 $sizeUnit * 42;
        background-position: right (-$sizeUnit * 45) top ($sizeUnit * 5);
        &::before{
            content: '';
            display: block;
            position: absolute;
            background-image: url('../images/serv-deco-4.svg');
            background-repeat:no-repeat;
            background-position: center;
            background-size: contain;
            width: $sizeUnit * 50;
            height: $sizeUnit * 50;
            bottom: -$sizeUnit * 23;
            right: -$sizeUnit * 23;
        }
    }
    .service-5{
        margin-top: $sizeUnit * 20;
        background-image: url('../images/serv-cat-icon-3.svg');
        background-size: $sizeUnit * 57 $sizeUnit * 75;
        background-position: right (-$sizeUnit * 10) top (-$sizeUnit * 10);
        &::before{
            content: '';
            display: block;
            position: absolute;
            background-image: url('../images/serv-deco-2.svg');
            background-repeat:no-repeat;
            background-position: center;
            background-size: contain;
            width: $sizeUnit * 50;
            height: $sizeUnit * 50;
            top: -$sizeUnit * 20;
            left: -$sizeUnit * 20;
        }
    }
    .service-6{
        background-image: url('../images/serv-cat-icon-6.svg');
        background-size: $sizeUnit * 66 $sizeUnit * 66;
        background-position: right (-$sizeUnit * 22) top (-$sizeUnit * 10);
    }
}

.tech-image-wrapper{

}

.tech-image{
    width: $sizeUnit * 600;
    height: auto;
}

.portfolio-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-height: $sizeUnit * 1500;
    width: $sizeUnit * 1000;
    .portfolio-item{
        position: relative;
        margin-bottom: $sizeUnit * 130;
    }
    .portfolio-1{
        width: $sizeUnit * 500;
    }
    .portfolio-2{
        width: $sizeUnit * 400;
        margin-bottom: $sizeUnit * 50 !important;
    }
    .portfolio-3{
        margin-top: $sizeUnit * 300;
        width: $sizeUnit * 350;
        transition: margin-top 1s ease-out;
        &.active{
            margin-top: $sizeUnit * 130;
        }
    }
    .portfolio-4{
        width: $sizeUnit * 350;
        
    }
}

#contacts{
    position: relative;
    background-color: $dark-gray;
    padding: $sizeUnit * 50 $sizeUnit * 60;
    padding-bottom: $sizeUnit * 25;
    z-index: 3;
    text-align: center;
}
.footer-info-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-email-wrapper{
    text-align: center;
    h3{
        font-weight: 300;
        font-size: $sizeUnit * 12;
        margin-top: 0;  
        color: $gray;
    }
    span{
        display: block;
        margin-bottom: $sizeUnit * 5;
        font-size: $sizeUnit * 10; 
        color: $white;
    }
}

.footer-address-wrapper{
    text-align: left;
    span{
        display: block;
        margin-bottom: $sizeUnit * 5;
        font-size: $sizeUnit * 10; 
        color: $white;
    }
}

.footer-nav-wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    //align-items: center;
    .nav-link{
        color: $white;
        text-decoration: none;
        font-size: $sizeUnit * 10;
        margin-right: $sizeUnit * 24;
    }
    .social-icons{
        .social-icon{
            width: auto;
            height: $sizeUnit * 25;
            margin-right: $sizeUnit * 20;
            margin-top: $sizeUnit * 20;
        }
    }
}

.footer-nav{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.terms{
    color: $gray;
    margin-top: $sizeUnit * 25;
    span{
        margin: 0 $sizeUnit * 15;
    }
    a{
        color: $gray;
        text-decoration: none;
    }
}

.inner-text-page{
    //box-shadow: 0 3px 9px rgba(0,0,0,.25);
    position: relative;
    padding: $sizeUnit * 60;
    //width: 100%;
    //display: flex;
}

.button{
    color: $white;
    text-decoration: none;
    background-image: url('../images/button-bg.svg');
    background-size: contain;
    width: $sizeUnit * 175;
    height: $sizeUnit * 60;
    background-repeat: no-repeat;
    font-size: $sizeUnit * 15;
    text-align: center;
    padding-top: $sizeUnit * 12;
    padding-right: $sizeUnit * 5;
    cursor: pointer;
    border: none;
}

button.button{
    //padding-top: -$sizeUnit * 12;
}

#quote{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-label{
    display: block;
    color: $blue;
    font-size: $sizeUnit * 18;
    padding: $sizeUnit * 20 0;
}

.form-text-input, .form-textarea{
    display: block;
    padding: $sizeUnit * 12;
    border-style: solid;
    border-color: $gray !important;
    border-width: 1px;
    width: $sizeUnit * 500;
    &.error{
        border-color: red;
    }
}

.form-textarea{
    min-height: $sizeUnit * 150;
}

.form-button{
    margin: $sizeUnit * 20 0;
}

.form-error{
    color: red;
    margin-top: $sizeUnit * 5;
}

.portfolio-button{
    margin-bottom: $sizeUnit * 50;
}


// -=Portfolio Page=-


.portfolio-container-grid{
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));  
    a{
        text-decoration:none; 
    }
}

.portfolio-section{
    border-radius: 8px;     
        img{
            width: 100%;
            margin-bottom: $sizeUnit * 10; 
            object-fit: cover;
            object-position: top;
            max-height: $sizeUnit * 180;
            transition: box-shadow 0.3s;
            border-radius: 2px;
            &:hover{
                -webkit-box-shadow: 0px 17px 26px 7px rgba(0,0,0,0.05); 
                box-shadow: 0px 17px 26px 7px rgba(0,0,0,0.05);
            }
        }     
    span{
            font-weight: 900;
            font-size: $sizeUnit * 12;
            margin-top: 0;
            color: $dark-gray;  
                      
    }

}
.content-portfolio{
    padding-top: $sizeUnit * 30;
    padding-bottom: $sizeUnit * 30;
}



// -=Portfolio Inner Page=-


.shot-content-container{
    padding-top: $sizeUnit * 30;
    padding-bottom: $sizeUnit * 30;
    display: flex;
    .shot-media-section{
        width: 50%;
        padding: $sizeUnit * 10; 
            .media-shot{
                cursor: zoom-in;
                margin-bottom: $sizeUnit * 20;
                height: 30rem;                
                overflow: hidden;
                background-color: #f9f9f9;
                img{
                    width: 100%;
                    margin-bottom: $sizeUnit * 10; 
                    object-fit: cover;
                    object-position: top; 
                    transition: box-shadow 0.3s;
                    border-radius: 2px;
                }
            }
            .media-shot-small{
                display: flex;
                flex-direction: row;
                justify-content: center;
                img{
                    cursor: pointer;
                    margin-right:  $sizeUnit * 10;
                    border-radius: 8px; 
                }                

            }
        }
    .shot-description-container{
        width: 50%;
        padding: $sizeUnit * 10; 
        h3{
            font-size:  $sizeUnit * 30;
            margin: 0 0 $sizeUnit * 5 0;
        }
        p{
            line-height: 1.4rem;
            font-weight: 300;
            font-size: 0.9rem;
        }
    }
}
.active{
    -webkit-box-shadow: 0px 17px 26px 7px rgba(0,0,0,0.05); 
    box-shadow: 0px 17px 26px 7px rgba(0,0,0,0.05);
}

.shot-overlay-media-small{
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
        margin-right:  $sizeUnit * 10;
        border-radius: 8px; 
    }                

}

.shot-overlay-section{
    //padding: $sizeUnit * 30 0;
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    //background-color: #fff;
    //position: absolute;
   //left: 0;
    //top: 0;
    .shot-overlay-media-small{
        margin-bottom: $sizeUnit * 30;
        margin-bottom: 3rem;
        padding: 19px 47px;
        border-radius: 12px;
        background-color: #f9f9f9;
    }

    .close-overlay {
        width: 25px;
        height: 25px;
        position: relative;
        display: flex;
        margin-bottom: $sizeUnit * 30;
        cursor: pointer;
        
    }

    .close-icon{
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 377.8 377.7' style='enable-background:new 0 0 377.8 377.7;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M34.4,21.5c3.9-0.3,7,2.2,9.9,5.1C67,49.4,89.8,72.2,112.6,94.9c24.3,24.3,48.5,48.5,72.8,72.8c3.5,3.5,3.5,3.5,7,0 c47.1-47.1,94.2-94.2,141.3-141.4c3-3,6.1-5.5,10.6-5.5c4.9,0,8.8,1.9,11.1,6.3c2.4,4.4,2.1,8.9-0.8,13.1c-1.1,1.6-2.6,3-4,4.4 c-46.7,46.8-93.5,93.5-140.2,140.3c-3.8,3.8-3.8,3.8,0.1,7.8c47,47,94,94,141.1,141c3,3,5.4,6.1,5.3,10.7c-0.1,5-2.1,8.7-6.5,10.9 c-4.3,2.2-8.7,1.9-12.8-0.8c-1.6-1.1-3-2.6-4.4-4c-46.8-46.7-93.5-93.5-140.3-140.2c-3.9-3.9-3.9-3.9-7.8-0.1 c-47,47-94,94-141,141.1c-3,3-6.1,5.5-10.7,5.4c-4.8,0-8.5-2-10.8-6.1c-2.4-4.4-2.2-8.9,0.6-13.1c1.1-1.6,2.6-3,4-4.4 c46.6-46.6,93.1-93.2,139.7-139.8c4.9-4.9,4.9-4,0.1-8.8c-46.7-46.7-93.3-93.4-140-140c-3-3-5.4-6.1-5.3-10.7 C21.7,26.7,26.8,21.5,34.4,21.5z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        
        &:hover{
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.1.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 375.8 375.7' style='enable-background:new 0 0 375.8 375.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23286BF2;%7D%0A%3C/style%3E%3Cpath class='st0' d='M33.4,20.6c3.9-0.3,7,2.2,9.9,5.1c22.7,22.8,45.5,45.5,68.3,68.3c24.3,24.3,48.5,48.5,72.8,72.8 c3.5,3.5,3.5,3.5,7,0c47.1-47.1,94.2-94.2,141.3-141.4c3-3,6.1-5.5,10.6-5.5c4.9,0,8.8,1.9,11.1,6.3c2.4,4.4,2.1,8.9-0.8,13.1 c-1.1,1.6-2.6,3-4,4.4c-46.7,46.8-93.5,93.5-140.2,140.3c-3.8,3.8-3.8,3.8,0.1,7.8c47,47,94,94,141.1,141c3,3,5.4,6.1,5.3,10.7 c-0.1,5-2.1,8.7-6.5,10.9c-4.3,2.2-8.7,1.9-12.8-0.8c-1.6-1.1-3-2.6-4.4-4c-46.8-46.7-93.5-93.5-140.3-140.2 c-3.9-3.9-3.9-3.9-7.8-0.1c-47,47-94,94-141,141.1c-3,3-6.1,5.5-10.7,5.4c-4.8,0-8.5-2-10.8-6.1c-2.4-4.4-2.2-8.9,0.6-13.1 c1.1-1.6,2.6-3,4-4.4c46.6-46.6,93.1-93.2,139.7-139.8c4.9-4.9,4.9-4,0.1-8.8c-46.7-46.7-93.3-93.4-140-140c-3-3-5.4-6.1-5.3-10.7 C20.7,25.7,25.8,20.5,33.4,20.6z'/%3E%3C/svg%3E%0A");
        }
    }
    .shot-overlay-media{
        width: 60%;  
        min-height: $sizeUnit * 300;    
        img{
            width: 100%; 
        }
    }
}


    
